.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  padding: 200px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  text-align: center;
}

.form {
  text-align: center;
  padding: 10px 50px 50px 50px;
  font-size: 14px;
  box-shadow: 7px 11px 11px grey;
}

input {
  padding: 4px;
  color: purple;
  font-weight: bold;
  font-size: 100px;
  padding-left: 620px;
  border: none;
}

.btn {
  margin-left: 20px;
  font-size: 20px;
}
